<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wukon.top.PetCommunity.mapper.BbsPetMapper">

    <resultMap id="BaseResultMap" type="wukon.top.PetCommunity.domain.BbsPet">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="petname" column="petname" jdbcType="VARCHAR"/>
            <result property="createtime" column="createtime" jdbcType="TIMESTAMP"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="delStatus" column="del_status" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,petname,createtime,
        user_id,del_status
    </sql>
</mapper>
